@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f5f5f5;
  --main-text-color: #000000;
  --secondary-text-color: #ff0000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Fredericka the Great", serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url("image/gridpaper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1220px;
  min-height: 824px;
}

header {
  text-align: center;
}

header h1 {
  margin: 32px 0;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

header h1 span {
  color: var(--secondary-text-color);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.score_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}
.score_label{
  font-size: 1.5rem;
}
.score {
  font-size: 3rem;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  grid-gap: 0;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid rgb(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  font-size: 4rem;
  user-select: none;
}

/* Elimina los bordes superiores de las celdas de la primera fila */
#gameBoard > .cell:nth-child(-n + 3) {
  border-top: none;
}

/* Elimina los bordes izquierdos de las celdas de la primera columna */
#gameBoard > .cell:nth-child(3n + 1) {
  border-left: none;
}

/* Elimina los bordes derechos de las celdas de la última columna */
#gameBoard > .cell:nth-child(3n) {
  border-right: none;
}

/* Elimina los bordes inferiores de las celdas de la última fila */
#gameBoard > .cell:nth-last-child(-n + 3) {
  border-bottom: none;
}

#resetButton {
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;

  &:hover {
    background-color: #0099ff;
    color: #fff;
  }
}

footer {
  margin-top: auto;
}
