@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f5f5f5;
  --main-text-color: #000000;
  --secondary-text-color: #ff0000;
  --win-text-color: #0004ff;
  --secondary-font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Fredericka the Great", serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url("image/gridpaper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1220px;
  min-height: 824px;
}

header {
  text-align: center;
}

header h1 {
  margin: 32px 0;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

header h1 span {
  color: var(--secondary-text-color);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.score_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.score_label {
  font-size: 1.5rem;
}

.score {
  font-size: 3rem;
}

#gameBoard {
  grid-gap: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  font-size: 4rem;
  user-select: none;
}

.cell_color {
  color: var(--secondary-text-color);
}

.cell_color_win {
  color: var(--win-text-color);
}

#gameBoard > .cell:nth-child(-n + 3) {
  border-top: none;
}

#gameBoard > .cell:nth-child(3n + 1) {
  border-left: none;
}

#gameBoard > .cell:nth-child(3n) {
  border-right: none;
}

#gameBoard > .cell:nth-last-child(-n + 3) {
  border-bottom: none;
}

.button {
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
}

.button:hover {
  background-color: #0099ff;
  color: #fff;
}

.status {
  font-size: 1.2rem;
  font-family: var(--secondary-font-family);
  text-align: center;
  margin-top: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 16px;
}

.styled-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--secondary-font-family);
}

.styled-checkbox input[type="checkbox"] {
  display: none;
}
.styled-checkbox .styled-checkbox-label {
  display: flex;
  align-items: center;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  padding: 10px 20px;
  font-size: 1em;
}

.styled-checkbox .styled-checkbox-label:hover {
  background-color: #0099ff;
  color: white;
}

.styled-checkbox input[type="checkbox"]:checked + .styled-checkbox-label {
  background-color: #0099ff;
  color: white;
}

.disabled-checkbox {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: line-through;
}
