* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #333;
  --main-bg-color: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: var(--main-text-color);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}
